@model Admin_webbplats.Models.Question

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alternative1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alternative1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alternative2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alternative2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alternative3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alternative3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alternative4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alternative4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
